* {
  border: 1px solid;
  background-color: lightgrey;
}

h1 {
  position: absolute;
  margin-left: auto;
}

h2 {
  margin-top: 35px;
}

#formDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

#leagueForm {
  width: 4000px;
  padding: 10px;
  background: lightblue;
}

#leagueName {
  width: 150px;
}
